version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-28-alpha
    steps:
      - checkout
      - run:
        name: Build and test
        commantd: ./gradlew -Pcoverage clean coveralls
